<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="main.css">
<title>Cosy - Szobák</title>
</head>
<body class="room">
	<h1>Szobák</h1>
	<a href="/" class="previous btn btn-primary">&laquo; Vissza</a>
	<div class="room flex-container">
		<div class="card" style="width: 18rem;" th:each="room : ${rooms}">
			<img class="card-img-top" th:src="${room.imgUrl}"
				alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title" th:text="${room.name}">Card title</h5>
				<p class="card-text">
					<span th:text="${room.livingArea}">25</span><span>&nbsp;m<sup>2</sup></span>
				</p>
				<p class="card-text" th:text="${room.description}">Some quick
					example text to build on the card title and make up the bulk of the
					card's content.</p>
				<a th:href="@{/room/} + ${room.id}" class="btn btn-primary">A
					szobához</a>
			</div>
		</div>
	</div>
</body>
</html>